<h1 class = "center">All Blogs</h1>

<div class="blogs">
<% @blog.each do |blog| %>
      <div class="blog">
      <div class="col-md-3">
      <%= image_tag blog.picture if blog.picture.attached? %>
     <span class="heading"><li><%= link_to  "#{blog.title}", blog_path(blog.id) %></li></span>
      <li><%= blog.description %> </li>
    </div>
    </div>

<%end%>
